* {margin:0 auto;
border:0px red dotted;
}

body {width:100%;
    min-width: 320px;
    max-width: 720px;
    background-color:#f9f9f9;
}
.container{
    background-color: #fff;
}
/*--header--*/
.header {
    background-color: RGB(95,192,205);
    text-align: center;
    padding:2% 0 ;
}
.header img{
    float:left;
    margin-left: 1%;
}
.header h2 {
    font-size:2em;
    color:white;
}
/*---content---*/
.content {
    width:100%;
    background: url(images/backgroundpicture.png);
    background-size: cover;
    height:328px;

}
.content .content-middle img{
    display: inline-block;
    padding-left: 3%;

}

.content .content-middle {
    padding-top:10%;
    position:relative;
}
.content p{
    position: absolute;
    left:40%;
    top:40%;
    line-height: 2;
    font-size: 1.4em;
    width:40%;
}
.content .content-middle span{
    font-size:1.2em;
    display:inline-block;
    padding-right:15%;
    padding-left:4%;
}
/*--list--*/
.list{
    padding-bottom:5%;
}
.list h2{
    padding:2% 0 0 6%;
}
.list li{
    padding:1.5% 0 1.5% 1%;
    list-style-type: none;
    font-size: 1.4em;
    border-width:0 0 1px 0;
    border-color: black;
    border-bottom-style: solid;

}
.list li span{
    display: inline-block;
    padding-left: 2%;
    width: 70%;

}
.list li p{
    display: inline-block;
    border-width:0 1px 0 0;
    border-color: black;
    border-right-style: solid;
    padding-right:2%;
}

/*--footer--*/
.footer{
    padding:1% 0 3% 0;
    margin-bottom: 5%;
    width:100%;
    float: left;


}
.footer div{

}
.footer button{
    padding:2% 3%;
    text-align: center;
    font-size:1.8em;
    border:2px solid RGB(95,192,205);
    border-radius: 10px;

    width:35%;
    margin-left:7%;
    margin-right:7%;
}

