* {
    margin: 0 auto;
    color: white;
    border: red solid 0;
    padding: 0;
    max-width: 640px;
}

body {
    font-family: "Microsoft YaHei UI", serif;
}

#container {
    width: 100%;
    background-color: #68cdd5;
}

.head {
    background-color: black;
    width: 100%;
    position: relative;
}

.left {
    display: inline-block;
    padding-top: 1%;
    padding-left: 2%;
    vertical-align: middle;
}

span {
    position: absolute;
    top: 10%;
    left: 6%;
    font-size: 1.62em;
}

.head h1 {
    width: 20%;
    text-align: center;
    font-size: 1.8em;
    position: absolute;
    top: 5%;
    left: 40%;

}

.dot {
    position: absolute;
    top: 30%;
    right: 2%
}

/* --------------------*/
.main {
    background-color: #68cdd5;
}

.content {
    background-color: #68cdd5;
    width: 100%;
    position: relative;

}

#bottom {
    background-color: #68cdd5;

    padding-top: 5%;
    width: 100%;
    position: relative;
}

.arrow {
    width: 10%;
    position: absolute;
    top: 2%;
    left: 2%;
}

.logo {
    width: 30%;
    text-align: center;
    padding-top: 15%;
    padding-bottom: 15%;
}

.content p{
    padding: 1% 19%;
    font-size: 1.5em;
    padding-bottom:5%;
}

.bottom {
    text-align: center;
}

.bottom1 {
    display: inline-block;
    width: 49.5%;
    padding-top: 10%;
    padding-bottom: 10%;
}

.bottom1 p {
    padding-top: 1.5%;
}
