* {
    margin: 0 auto;
    padding: 0;
    border: 0;
}

.wrap {
    width: 100%;
    background-color: white;
    font-family: "Microsoft YaHei UI", serif;
}

a {
    text-decoration: none
}
/*------*/
.header {
    background-color: RGB(95, 192, 205);
    text-align: center;
    height: 60px;
    padding-top: 20px;
    padding-bottom: 10px;
    position: fixed;
    width: 100%;

}

.header h2 {
    font-size: 2.2em;
    color:white;
    width:20%;
    display:inline-block;
}

.header span {
    font-size: 1.6em;
    color:white;
    width:15%;

}

.header__span-left {
    position:absolute;
    left:2%;
    top:25px;
}

.header__span-right {
    position: absolute;
    right:2%;
    top:25px;
}

/*---------*/
.main {
    text-align: center;
    padding-top: 100px;
    padding-bottom: 150px;
    background-color: RGB(239, 240, 244);
}

.main div {
    margin: 20px 0;
    background-color: white;
}

input {
    font-size: 2.5em;
    padding:10px 0 10px 0;
    color: black;
    border-width: 0 0 0 1px;
    display:block;
    margin:0;
    width:100%;


}
.main img{
    float: left;
    padding:10px;
}
.main form{
    margin-left:50px;


}

.main div.log {
    background-color: RGB(95, 192, 205);
    margin-top: 40px;
}

.main div.log input {
    background-color: RGB(95, 192, 205);
    text-align: center;
    color: white;

}
.main div.log form{
    margin-left: 0;
}

.main span {
    color: RGB(95, 192, 205);
    font-size: 1.6em;
    background-color: RGB(239, 240, 244);
    position:absolute;
    right:0;
    width:30%;
}
