body{
    max-width: 1360px;
    width: 100%;
    background-color: RGB(250,250,250);
}
@media screen and(max-width: 1360px){}
/* 头部*/
.header{
    height:40px;

}
.header .phone{
    margin-left: 75px;
    line-height: 40px;
    color:#29b078;
    font-size: 14px;

}
.header span img{
    display: inline-block;
    width:24px;
    height:24px;
}
.header .header-img{
    margin-right: 90px;
    margin-top: 8px;
    word-spacing: 10px;
    float: right;
}
/*  导航背景图片*/
.nav0{

    height:100px;
    background-color: #26a26f;
    line-height: 96px;
    text-align: right;
    color: white;
}
.nav0 li{
    display: inline-block;
    font-size: 16px;
    width: 100px;
    text-align: center;

}
.nav0 ul{
    margin-right: 60px;
}
.nav{
    background-image: url(images/task7/backgroundimage.png);
    -webkit-background-size:cover;
    background-size:cover;

    height:600px;

    text-align: center;
    color: white;
    position: relative;
}
.nav .nav-head1{
    padding-top: 240px;
    text-indent: 50px;

}
.nav .nav-head2{
    margin:0;

}
.arrow-left{
    position: absolute;
    top:250px;
    left:7%;
}
.arrow-right {
    position: absolute;
    top:250px;
    left:93%;
}
.nav h3{
    font-size: 40px;
    line-height: 40px;
}
.nav h1{
    font-size: 60px;
    line-height: 60px;
}
.nav h1 span{
    font-size:90px;
}
.nav p {
    position: absolute;
    bottom: 20px;
    left:47%;

}



/*  导航列表*/
.index{
    width:1200px;
    border:0px red solid;
    margin: 0 auto;
    position:relative;
}


















/*  导航列表1*/
.index .index-l1{
    padding-top: 160px;
    color:#afafaf;
    border:0px red solid;
}
.index .index-l1 table th{
    color:black;
}
.index .index-l1 table .tr-left{
    font-size: 16px;
    vertical-align: top;
}
.index .index-l1 table .tr-center{
    line-height: 80px;
    font-size: 18px;

    text-align: left;
}
.index .index-l1 table td .width1{
    width:224px;
    letter-spacing: 1px;
    line-height: 26px;

    margin-right: 103px;
}
.index .index-l1 table td .width2{
    width:224px;
    letter-spacing: 1px;
    color:#afafaf;
    margin-right: 85px;
    line-height: 26px;


}
.index .index-l1 table td .width3{
    width:256px;
    letter-spacing: 1px;
    line-height: 26px;
    margin-right: 44px;


}
.index .index-l1 table td .width4{
    width:262px;
    font-size: 18px;
    text-indent: 30px;
    line-height: 26px;

}


/*  导航列表2*/
.index-l2{
    margin-top: 150px;
    border:0px red solid;

}
.index .index-l2 img{
    display: block;
    margin-right: 16px;


}
table tr td {
    padding:0;
    border:0;
    margin:0;
}
.index .index-l1{
    vertical-align: middle;
}
.index .index-l2 div{
    font-size:14px;
    width: 157px;
    display:inline-block;
    font-weight: 500;
    line-height: 26px;
    margin-right: 28px;
    color:RGB(153,153,153);
    letter-spacing: 1px;

}
/*导航列表3*/
.index .index-l3{
    margin-top:50px;
    border:0px red solid;
}
.index .index-l3 div{
    width:270px;
    height: 370px;
    background-color: RGB(255,255,255);
    text-align: center;
    display: inline-block;
    margin-right: 35px;
}
.index .index-l3 div h2{
    line-height: 48px;
    font-size: 18px;
}
.index .index-l3 div p{
    line-height: 150px;
}
.index .index-l3 div img{
    vertical-align: middle;
}
.index .index-l3 div span{
    display:inline-block;
    width:208px;
    font-size: 16px;
    color:RGB(153,153,153);
    line-height: 26px;
    text-align: left;
    letter-spacing: 1px;
}
.index .index-l3 h2{
    font-size: 18px;
    line-height: 162px;
    text-align: center;
}
.index .index-l3 h3{
    line-height: 64px;
    text-align: center;
}
.index .index-l3 h3 a{
    display: inline-block;
}
/*导航列表4*/
.index-l4{
    margin-top: 38px;
    margin-bottom: 92px;
}
.index-l4 h2{
    font-size: 18px;
    text-align: center;
    line-height: 158px;
}
.index .index-l4 div{
    background-color: RGB(255,255,255);
    width:20%;
    height:176px;
    display: inline-block;
    text-align: center;
    margin-right: -5px;
}

.index-l4 div span{
    line-height: 174px;
}
.index .index-l4 img{
    vertical-align: middle;
}

/*脚步1*/
.footer{



}
.footer .footer1 h2{
    font-size: 18px;
    text-align: center;
    line-height: 62px;
}
.footer .footer1{
    padding-left: 75px;
    padding-right:75px;
    background-color: #ffffff;
}
.footer .footer1 li img{
   vertical-align: middle;
}
.footer .footer1 li{
    display:inline-block;
    color:RGB(153,153,153);
    font-size: 14px;
    margin-right: 50px;
    line-height: 30px;
}
/*脚步2*/
.footer2{
    color:white;
    background-color: #26a26f;
    padding-top: 40px;
    font-size: 16px;
    padding-left: 75px;
    padding-right:75px;

}
.footer2 a {
    font-size: 14px;
    display: inline-block;
    line-height: 14px;
    color:white;
}
.footer2 div{
    display: inline-block;
    margin-right: 150px;
}
.footer .footer2 .website{
    display:block;
    text-align:center;
    margin-top: 40px;
    padding-bottom: 10px;
}






















/*.index {
    width:100%;
    max-width: 1200px;
}
.index-l1 ul li p{
    height: 62px;
}
.index-l1 li{
    vertical-align: top;
    padding-top: 20px;
}
.index-l1 li{
    display: inline-block;
    text-align: center;
}
.index-l1 .l1-1{
    width:226px;
}
.index-l1 .l1-2{
    width:226px;
}
.index-l1 .l1-3{
    width:253px;
}
.index-l1 .l1-4{
    width:262px;
}
.index-l1 li h2{
    font-size: 18px;
    line-height:84px;
}
.index-l1 li span{
    display: inline-block;
    text-align: left;
    font-size: 16px;
    line-height: 26px;
}*/


