*{
    margin:0 auto;
    padding:0;
}
body{
    width:100%;
    max-width: 640px;

}
.container{
    background-color: RGB(240,240,240);
    padding-bottom: 5%;
}
.top{
    background-color: RGB(41,189,224);
    line-height: 0.7;
    padding:5% 0 2% 0;
    position: relative;
    height: 40px;
}
.top .in-top{
    position: absolute;
    top:40%;
    left:5%;

}
.header{
    text-align: center;
    width:86%;
    border:1px solid gray;
    margin-top: 4%;
    margin-bottom: 4%;
    padding-top: 4%;
    padding-bottom: 4%;
    background-color: white;
    color:RGB(150,150,150)
}
.header img{
    float:right;
    padding-right: 2%;

}
.main{
    width:86%;
    border:1px solid rgb(128, 128, 128);
    margin-top: 5%;
    margin-bottom: 3%;
    text-align: center;
    background-color: white;
    padding-bottom: 2%;
}
.main li{
    list-style-type: none;
    padding-top: 3%;
    position: relative;
}
.main li img{
    position: absolute;
    top:24%;
    right: 2%;
}
.main ul .li-head{
    color:RGB(243,165,25);
    font-size: 2.2em;
    letter-spacing:8px;

    padding-bottom: 3%;
    border-bottom: 1px solid RGB(243,165,25);
    margin-bottom: 3%;
}
.main li button{
    background-color:RGB(105,209,233);
    padding:7%;
    width:78%;
    font-size: 2em;
    color: white;
    letter-spacing:8px;
}
.main li span{
    font-size: 1.5em;
    color:RGB(120,120,120);
    line-height: 2.5;
}